%div.row
  %div.col.col-12
    %h4 Benvenuto Paolo Rossi
%div.row
  %div.col.col-12
    %a.button.secondary{href: "/dashboard/search"}
      Cerca
      %i.kube-search
    %a.button.secondary Brevetti
%div.row
  %div.col-col-12
    %table.striped
      %thead
        %tr
          %th Id Brevetto
          %th Stato
          %th Azione
      %tbody
        %tr
          %td efjmsgnsgnmskgmsg
          %td Pending
          %td
            %button.button Elimina
        %tr
          %td weinwfniwnfwiofnd
          %td Deposited
          %td
            %button.button Elimina
%div.row
  %div.col.col-12
    %button.button.large Nuovo Brevetto
