-# Menu
%header.row
  %div.col
    %a.button.secondary.outline{href: "#", "data-component" => "dropdown", "data-target" => "#drop"}
      Menu
      %span.caret.down
    %div.dropdown.hide#drop
      %a.close.show-sm{href: ""}
      %ul
        - @menu_entries.each do |entry|
          %li
            %a{href: entry[:link]}= entry[:name]
-# Image
%div
  %div.row.auto
    %div.push-middle.push-center
      %figure
        %img{alt: "Main image", src: "/images/patent-translation.jpg"}
  %div.row
    %div.col.col-12.text-center
      %h1 UPM
  %div.row
    %div.col.col-12.text-center
      %h6 Universal-Patent-Manager
-# Description
%div#about
  %div.row.align-center
    %div.col
      %h1 Welcome to UPM!
  %div.row.align-center
    %div.col
      %p.text-center
        Handle your patents into a very secure and simple manner.
      %p.text-center
        This project is based on
        %a{href: "https://chain.com/"}Chain.com
        See the documentation for more info.
      %p.text-center
        If you want other info see the page below or visit my github project for see the code.
%div#features.row.gutters.align-center
  %div.col.col-4
    %h5.text-center Decentralized
    %img{width: "200", height: "200", alt: "Decentralized Logo", src: "/images/decentralized.png"}
    %p.text-center
      There isn't no authorithy involved into
      %br
      validation and certification of datas.
      %br
      The users themself are responsable to execute this task.
  %div.col.col-4
    %h5.text-center Secure
    %p.text-center
      All your patents are stored and protected so that 
      %br
      is impossible that others users try to stole or change them.
  %div.col.col-4
    %h5.text-center Simple
    %p.text-center
      Compile the form, generate the document and sign it!.
      %br
      All steps are very intuitive, in addition there is a
      %br
      simple tutorial that explain everithing 
%footer#contact.row
  %div.col.col-6
    %p.text-center &copy 2017 All right Reserved.
    %p.text-center Author: Didacus Abella
  %div.col.col-6.row
    %figure.col.col-6
      %a{href: "#git"}
        %img{alt: "git logo", src: "/images/git.png"}
    %figure.col.col-6
      %a{href: "#mail"}
        %img{alt: "email logo", src: "/images/mail.png"}