%form{method: "post", action: "/login"}
  %div.form-item
    %label 
      Username:
      %span.req *
    %input{type: "text", placeholder: "Insert Username", id: "username"}
  %div.form-item
    %input{type: "submit", value: "Login"}
  