%form{method: "post", action: "/register"}
  %fieldset
    %legend Register User
    %div.form-item
      %label
        Username:
        %span.req *
      %input{type: "text", id: "username", placeholder: "Insert Username"}
      %div.desc Required for create an Account
    %div.form-item
      %label Name:
      %input{type: "text", id: "name", placeholder: "Insert Name"}
      %div.desc Not Required but fill for simplify search
    %div.form-item
      %label Last Name:
      %input{type: "text", id: "last_name", placeholder: "Insert Last Name"}
      %div.desc Not Required but fill for simplify search
    %div.form-item
      %input{type: "submit", value: "Register Account"}


