%form{method: "post", action: "/login"}
  %fieldset
    %legend Login
    %div.form-item
      %label 
        Username:
        %span.req *
      %input{type: "text", placeholder: "Insert Username", name: "username"}
    %div.form-item
      %label Password:
      %input{type: "password", placeholder: "Insert Password", name: "secret"}
    %div.form-item
      %input{type: "submit", value: "Login"}
  