%form{method: "post", action: "/login"}
  %fieldset
    %legend Login
    %div.form-item
      %label Username:
      %input{type: "text", placeholder: "Insert Username", name: "username", pattern: "[^\s-:].{3,15}", required: true }
    %div.form-item
      %label Password:
      %input{type: "password", placeholder: "Insert Password", name: "secret", pattern: "[^\s].{3,15}", required: true }
    %div.form-item
      %input{type: "submit", value: "Login"}
  