%div.row
  %div.one-third.column
    %h6 UPM. Built with Chain.com
  %div.one-third.column
    %h6 Visit Chain.com to learn more
  %div.one-third.column
    %a.button{href: "/signup"}Sign Up
    %a.button{href: "/signin"}Log In
%div.row
  %h1.twelve.columns Welcome to the New Internet
  %p.twelve.columns UPM is a decentralized Internet where users own their patents
  %a.button{href: "/signup"}Sign Up