!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title= @title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "The easiest way to manage your patents in secure manner"}
    %meta{name: "author", content: "didacusAbella"}
    %link{rel: "stylesheet", href: "/css/kube.css", type: "text/css"}
    %link{href:"https://fonts.googleapis.com/css?family=Inknut+Antiqua:300,600", rel:"stylesheet"}
    %link{rel: "stylesheet", href: "/css/mystyle.css", type: "text/css"}
    %script{type: "text/javascript", src: "/scripts/jquery-3.2.1.js"}
    %script{type: "text/javascript", src: "/scripts/kube.js"}
    %script{type: "text/javascript", src: "/scripts/main.js"}
  %body
    = yield   
   