!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title= @title
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "The easiest way to manage your patents in secure manner"}
    %meta{name: "author", content: "didacusAbella"}
    %link{rel: "stylesheet", href: "css/normalize.css", type: "text/css"}
    %link{rel: "stylesheet", href: "css/skeleton.css", type: "text/css"}
  %body
    = yield   
   