%form{method: "post", action: "login"}
  %div.row
    %div.six.columns
      %label{for: "username"}Username:
      %input.u-full-width{placeholder: "Insert Username here", id: "username", type: "text"}
  %div.row
    %input.button-primary{type: "submit", value: "Log In"}