%div.row{style: "background-color: #dee1e8"}
  %div.col.col-12
    %h1.text-center UNAUTHORIZED
%div.row
  %div.col.col-12
    %h2 The page you have requested can't authorized.
    %h2 Check the credentials that you supplied.
%div.row
  %div.col.push-center
    %a.button.big.secondary.outline{href: "/signin"}Go Back